@font-face {
  font-family: "SF Pro Display";
  src: url("Fonts/SF-Pro-Display-Bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("Fonts/SF-Pro-Display-medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("Fonts/SF-Pro-Display-regular.otf");
  font-weight: 100;
}

* {
  font-family: "SF Pro Display";
  font-weight: 100;
  font-size: 24px;
  color: #000;
  /* line-height: 11px; */
  padding: 0px;
  margin: 0px;
}

body {
  background-color: black;
}

.card {
  background-color: rgba(255, 255, 255, 0.33);
  width: calc(100vw - 128px);
  padding: 32px;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 64px;
}

.card > * {
  width: -webkit-fill-available;
}

.card > img {
  border-radius: 32px;
  margin-bottom: 32px;
}

.title {
  font-size: 32px;
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  margin-bottom: 16px;
}

.seekbar {
  /* FIX COLOR */
  accent-color: #000000;
  background: transparent;
  width: -webkit-fill-available;
}

.seekbarLabels {
  display: flex;
  justify-content: space-between;
}

.playerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.playerContainer > svg {
  width: 80px;
  display: none;
}

.playerContainer > svg.active {
  display: block;
}

.details {
  font-size: 24px;
  margin-bottom: 24px;
}

.volumeContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}

.volume {
  /* FIX COLOR */
  accent-color: #000000;
  background: transparent;
  width: -webkit-fill-available;
  margin: 0px 4px;
}

.volumeContainer > svg {
  width: 16px;
  stroke: #000000;
}
